{% load static %}
<link rel="stylesheet" href="{% static 'first.css' %}">
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Музеи в Республике Хакасия</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Музеи в Республике Хакасия</h1>
            <nav>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О музеях</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="container">
            <section class="museum">
                <h2>Хакасский национальный краеведческий музей имени Л. Р. Кызласова</h2>
                <p>Хакасский национальный краеведческий музей имени Л. Р. Кызласова является одним из крупнейших краеведческих музеев в Республике Хакасия. Он представляет богатую коллекцию предметов, отражающих историю и культуру хакасского народа.</p>
                <p>Адрес: ул. Кызласова, 10, г. Абакан</p>
                <img src="../static/museum1.jpg" alt="Фото Хакасского национального краеведческого музея">
            </section>
            
            <section class="museum">
                <h2>Музей-заповедник "Сулеки"</h2>
                <p>Музей-заповедник "Сулеки" расположен в живописном уголке Республики Хакасия и является уникальным местом, где можно познакомиться с природой региона и его историей. Здесь находятся множество археологических находок и культурных памятников.</p>
                <p>Адрес: с. Сулеки, Таштыпский район, Республика Хакасия</p>
                <img src="../static/museum2.jpg" alt="Фото музея-заповедника 'Сулеки'">
            </section>
            
            <section class="museum">
                <h2>Музей под открытым небом "Усть-сос"</h2>
                <p>Музей под открытым небом "Усть-сос" расположен в удивительном месте, окруженном природой. Здесь можно увидеть древние памятники и артефакты, а также поучаствовать в экскурсиях и мастер-классах по ремесленным традициям хакасского народа.</p>
                <p>Адрес: с. Усть-Сос, Усть-Абаканский район, Республика Хакасия</p>
                <img src="../static/museum3.jpg" alt="Фото музея под открытым небом 'Усть-сос'">
            </section>
            
            <section class="museum">
                <h2>Музей-заповедник "Хуртуях тас"</h2>
                <p>Музей-заповедник "Хуртуях тас" - это уникальный археологический комплекс, расположенный на территории Республики Хакасия. Здесь можно увидеть множество древних артефактов и памятников культуры хакасского народа.</p>
                <p>Адрес: с. Хуртуях тас, Бейский район, Республика Хакасия</p>
                <img src="../static/museum4.jpg" alt="Фото музея-заповедника 'Хуртуях тас'">
            </section>

            <section class="museum">
                <h2>Абаканская картинная галерея им. Ф.Е. Пронских</h2>
                <p>Абаканская картинная галерея им. Ф.Е. Пронских представляет собой центр современного искусства в Республике Хакасия. Здесь можно ознакомиться с работами художников-современников и проводимыми выставками.</p>
                <p>Адрес: ул. Ленина, 50, г. Абакан</p>
                <img src="../static/museum5.jpg" alt="Фото Абаканской картинной галереи им. Ф.Е. Пронских">
            </section>
            
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Музеи в Республике Хакасия</p>
        </div>
    </footer>
</body>
</html>
